fundinfo/~$table_oracle2mysql.xlsx
fundinfo/output/json/ads_m_cabin_asset_oracle2mysql.json
fundinfo/output/json/ads_m_cabin_asset_uf_cactivity_o2m.json
fundinfo/output/json/ads_m_cabin_crdt_oracle2mysql.json
fundinfo/output/json/ads_m_cabin_crdt_uf_cactivity_o2m.json
fundinfo/output/json/ads_m_cabin_ctbt_oracle2mysql.json
fundinfo/output/json/ads_m_cabin_ctbt_uf_cactivity_o2m.json
fundinfo/output/json/ads_m_cabin_cust_oracle2mysql.json
fundinfo/output/json/ads_m_cabin_cust_uf_cactivity_o2m.json
fundinfo/output/json/ads_m_cabin_open_oracle2mysql.json
fundinfo/output/json/ads_m_cabin_open_uf_cactivity_o2m.json
fundinfo/output/json/ads_m_cabin_prod_oracle2mysql.json
fundinfo/output/json/ads_m_cabin_prod_uf_cactivity_o2m.json
fundinfo/output/json/ads_m_cabin_trd_oracle2mysql.json
fundinfo/output/json/ads_m_cabin_trd_uf_cactivity_o2m.json
fundinfo/output/json/MF_BenchmarkGrowthRate_jydb_jydb_o2m.json
fundinfo/output/json/mf_benchmarkgrowthrate_oracle2mysql.json
fundinfo/output/json/MF_FundNetValueRe_jydb_jydb_o2m.json
fundinfo/output/json/mf_fundnetvaluere_oracle2mysql.json
fundinfo/output/json/MF_FundReturnRank_jydb_jydb_o2m.json
fundinfo/output/json/mf_fundreturnrank_oracle2mysql.json
fundinfo/output/json/MF_NetValuePerformance_jydb_jydb_o2m.json
fundinfo/output/json/mf_netvalueperformance_oracle2mysql.json
fundinfo/output/json/ods_pif_cpdm_oracle2mysql.json
fundinfo/output/json/ods_pif_cpdm_uf_cproduct_o2m.json
fundinfo/output/json/prodcode_oracle2mysql.json
fundinfo/output/json/prodcode_uf_ct11_o2m.json
fundinfo/output/json/QT_IndexQuote_jydb_jydb_o2m.json
fundinfo/output/json/qt_indexquote_oracle2mysql.json
fundinfo/output/json_pre/MF_BenchmarkGrowthRate_jydb_jydb_o2m_pre.json
fundinfo/output/json_pre/MF_FundNetValueRe_jydb_jydb_o2m_pre.json
fundinfo/output/json_pre/MF_FundReturnRank_jydb_jydb_o2m_pre.json
fundinfo/output/json_pre/MF_NetValuePerformance_jydb_jydb_o2m_pre.json
fundinfo/output/json_pre/QT_IndexQuote_jydb_jydb_o2m_pre.json
fundinfo/output/script/datax/ads_m_cabin_asset_uf_cactivity_o2m.sh
fundinfo/output/script/datax/ads_m_cabin_crdt_uf_cactivity_o2m.sh
fundinfo/output/script/datax/ads_m_cabin_ctbt_uf_cactivity_o2m.sh
fundinfo/output/script/datax/ads_m_cabin_cust_uf_cactivity_o2m.sh
fundinfo/output/script/datax/ads_m_cabin_open_uf_cactivity_o2m.sh
fundinfo/output/script/datax/ads_m_cabin_prod_uf_cactivity_o2m.sh
fundinfo/output/script/datax/ads_m_cabin_trd_uf_cactivity_o2m.sh
fundinfo/output/script/datax/MF_BenchmarkGrowthRate_jydb_jydb_o2m.sh
fundinfo/output/script/datax/MF_FundNetValueRe_jydb_jydb_o2m.sh
fundinfo/output/script/datax/MF_FundReturnRank_jydb_jydb_o2m.sh
fundinfo/output/script/datax/MF_NetValuePerformance_jydb_jydb_o2m.sh
fundinfo/output/script/datax/ods_pif_cpdm_uf_cproduct_o2m.sh
fundinfo/output/script/datax/prodcode_uf_ct11_o2m.sh
fundinfo/output/script/datax/QT_IndexQuote_jydb_jydb_o2m.sh
fundinfo/output/script/ds/ds_ads_m_cabin_asset_uf_cactivity_o2m.sh
fundinfo/output/script/ds/ds_ads_m_cabin_crdt_uf_cactivity_o2m.sh
fundinfo/output/script/ds/ds_ads_m_cabin_ctbt_uf_cactivity_o2m.sh
fundinfo/output/script/ds/ds_ads_m_cabin_cust_uf_cactivity_o2m.sh
fundinfo/output/script/ds/ds_ads_m_cabin_open_uf_cactivity_o2m.sh
fundinfo/output/script/ds/ds_ads_m_cabin_prod_uf_cactivity_o2m.sh
fundinfo/output/script/ds/ds_ads_m_cabin_trd_uf_cactivity_o2m.sh
fundinfo/output/script/ds/ds_MF_BenchmarkGrowthRate_jydb_jydb_o2m.sh
fundinfo/output/script/ds/ds_MF_FundNetValueRe_jydb_jydb_o2m.sh
fundinfo/output/script/ds/ds_MF_FundReturnRank_jydb_jydb_o2m.sh
fundinfo/output/script/ds/ds_MF_NetValuePerformance_jydb_jydb_o2m.sh
fundinfo/output/script/ds/ds_ods_pif_cpdm_uf_cproduct_o2m.sh
fundinfo/output/script/ds/ds_prodcode_uf_ct11_o2m.sh
fundinfo/output/script/ds/ds_QT_IndexQuote_jydb_jydb_o2m.sh
